<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Template</title>

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.csszengarden.com/zengarden.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dave Shea">
    <meta name="description" content="design.">
    <meta name="robots" content="all">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>


